* {
    margin: 0;    
}

body {

    background-color: whitesmoke;
}

.converter-container {
    
    max-width: 500px;
    margin: 2rem auto;
    padding: 1rem 1rem 1rem 1rem;
    border: 1px solid #000;
    background-color: white;

    display: flex;
    flex-direction: column;
}

.converter-container label {
    margin: 0.25rem 0;
}

.converter-title {
    font-size: 26px;
    text-align: center;
    margin-bottom: 0.5rem;
}

.text-input,
.select-input,
.btn {
    padding: 0.25rem;
    border: 1px solid black;
    border-radius: 0.25rem;
}

.btn {
    background-color: orange;
    margin: 0.5rem 0;
}

.btn:hover {
    background-color: grey;
    color: #fff;
}

.converter-text {
    
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}

.converter-text > p {
    
    margin: 0.25rem;
}

.converter-text-clp,
.converter-text-tasa {
    font-size: 16px;
    font-weight: 300;
}

.converter-text-total {
    font-size: 30px;
}

.chart-title {
    text-align: center;
    margin: 0.5rem 0;
}
